---
layout: default
title: "Gallery Painting"
---

<!-- Gallery -->
<div id="portfolio" class="section gray">
  <div class="container">
    <div class="b row" id="list-post">
      {% for post in site.posts reversed %}
        <div class="col l4 m6 s12 gallery-item gallery-expand ce {{ post.categories }}">
          <div class="gallery-curve-wrapper">
            <a class="gallery-cover gray">
              <img class="responsive-img" src="{{ post.image }}" alt="placeholder" crossOrigin="anonymous">
            </a>
            <div class="gallery-header">
              <span>{{ post.title }} - {{ post.id_post }}</span>
            </div>
            <div class="gallery-body">
              <div class="title-wrapper">
                <h3>{{ post.title }}</h3>
                <span class="gj">{{ post.artist }} - {{ post.categories }}</span>
              </div>
              <p class="fi">{{ post.description }}</p>
              <br>
              <p class="fi">{% include date.html date=post.date %}</p>
              <!--<p class="fi"></p>-->
            </div>
            <div class="gallery-action">
              <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

  </div>

</div><!-- /.container -->
<div style="display: none;">
  {% for post in site.posts reversed %}
    <div id="image-{{ post.id_post }}" data="{{ post.image }}"></div>
    <div id="title-{{ post.id_post }}" data="{{ post.title }}"></div>
    <div id="artist-{{ post.id_post }}" data="{{ post.artist }}"></div>
    <div id="category-{{ post.id_post }}" data="{{ post.categories }}"></div>
    <div id="description-{{ post.id_post }}" data="{{ post.description }}"></div>
    <div id="date-{{ post.id_post }}" data="{{ post.date }}"></div>
  {% endfor %}
</div>