---
layout: default
title: "Gallery Painting"
---

<!-- Gallery -->
<div id="portfolio" class="section gray">
  <div class="container">
    <div class="b row" id="list-post">
      {% for post in site.posts %}
        <div class="col l4 m6 s12 gallery-item gallery-expand ce {{ post.categories }}">
          <div class="gallery-curve-wrapper">
            <a class="gallery-cover gray">
              <img class="responsive-img" id="image-{{ post.post_id }}" src="{{ post.image }}" alt="placeholder" crossOrigin="anonymous">
            </a>
            <div class="gallery-header">
              <span id="title-{{ post.post_id }}">{{ post.title }}</span>
            </div>
            <div class="gallery-body">
              <div class="title-wrapper">
                <h3>{{ post.title }}</h3>
                <span class="gj" id="artist-categories-{{ post.post_id }}">{{ post.artist }} - {{ post.categories }}</span>
              </div>
              <p class="fi" id="description-{{ post.post_id }}">{{ post.description }}</p>
              <br>
              <p class="fi" id="date-{{ post.post_id }}">{% include date.html date=post.date %}</p>
              <!--<p class="fi"></p>-->
            </div>
            <div class="gallery-action">
              <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

  </div>

</div><!-- /.container -->