<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gallery</title>
    <link rel="icon" href="{{ "/assets/img/tools.svg" | prepend: site.baseurl }}" sizes="any" type="image/svg+xml">
    <!-- Lato Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheet -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css' rel='stylesheet' type='text/css'>
    <link href="{{ "/assets/css/gallery-materialize.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">

    <style>
      .modal {
        width: 90% !important;
      }

      @media only screen and (max-width: 992px) {
        .modal {
          width: 95% !important;
        }
      }
    </style>